[Unit]
Description=Lock user X session on suspend
Before=sleep.target

[Service]
User=%I
Environment=DISPLAY=:0
ExecStartPre=-/usr/bin/pkill slimlock
ExecStart=/usr/bin/slimlock
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
